.container {
  height: 800px;
  width: 1500px;
  background-image: url(../img/wave2.png);
  position: relative;
  /*border: 1px solid black;*/
}

.tokens {
  position: absolute;
}


button {
  margin-top: 100px;
}

.dot {
  height: 10px;
  width: 10px;
  background-color: red;
  position: absolute;
}

#dot1 {
 top: 768px;
 left: 162px;
}

#dot2 {
 top: 642px;
 left: 720px;
}

#dot3 {
 top: 476px;
 left: 1187px;
}

#dot4 {
 top: 148px;
 left: 1460px;
}
