.container {
  height: 800px;
  width: 1500px;
  background-image: url(../img/wave2.png);
  z-index: -1;
  /*border: 1px solid black;*/
}

.tokens {
  position: absolute;
  top: 100px;
  left: 1460px;
  height: 64px;
  width: 64px;
  display: none;
}

button {
  margin-top: 100px;
}
